body {
  padding: 0;
  margin:0;
  font-family: 'Avenir-Book';
  background: #fff;
  overflow-x: hidden;
  color: #6c757d;
  font-size: 10pt;
  color: #1f4475;
}
/* width */
body ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
body ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}
 
/* Handle */
body ::-webkit-scrollbar-thumb {
  background: rgb(108 117 125 / 0.5); 
  border-radius: 10px;
}
a{-webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;}
a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: #72afd2;
}
h1, h2, h3, h4, h5, h6{font-family: 'Nunito', sans-serif;}
b, strong {font-family: 'Nunito', sans-serif;}
.container { width: 100% !important; padding-left: 15px !important; padding-right: 15px !important;}
.mt0{margin-top: 0 !important}
.mt10{margin-top:10px;}
.mt40{margin-top:40px;}
.mb20{margin-bottom:20px;}
.relative{position: relative;}
.pt10{padding-top: 10px;}
.pb10{padding-bottom: 10px;}
.pt20{padding-top: 20px;}
.pb20{padding-bottom: 20px;}
.around10{padding: 10px;}
.around40{padding: 40px;}
.spaceb10{padding-bottom: 10px;}
.spaceb40{padding-bottom: 40px;}
.spacet40{padding-top: 40px;}
.spaceb60{padding-bottom: 60px;}
.spacet60{padding-top: 60px;}

.fullwidth{ width: 100vw;position: relative; left: 50%;margin-left: -50vw;}
.bggray{background: #eef4f7;}

.toparea{background: #1f4475; padding-top:5px; padding-bottom: 2px; }
.loginbtn{border-radius: 6px;
    border: 1px solid #fff;
    padding: 6px 20px !important;
    margin-top: 8px;
    margin-left: 10px;}
.social{padding: 0; margin: 0}
.social li {margin: 0 1px; list-style: none; display: inline-block;}
.social li:first-child {margin-left: 0;}
.social li a {
  width: 24px;
  height: 24px;
  display:block;
  border: 1px solid #fff;
  text-align: center;
  line-height: 24px;
  color: #fff;
  border-radius: 4px;
}
.social li a:hover{background: #ffffff;color: #000;}
.front-site .navbar-toggle {display: block;float: left;margin: 20px 20px 0 0;}
.navbar-ul-wrap {position: relative;height: 100%;z-index: 2;}
.navbar-ul-wrap .navbar-ul {
  width: 100%;
  position: relative;
  height: 100%;
}

.navbar-ul-wrap .navbar-ul li a{
  color: #99bad7;
}
.navbar-ul-wrap .navbar-ul li a:hover,
.navbar-ul-wrap .navbar-ul li a:focus,
.navbar-ul-wrap .navbar-ul li.active a:focus {
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}
.sidebar-row-wrap {background: #f0f6ff;min-height: 80vh;position: relative;}
.sidebar-row-wrap li.left-bar a {position: relative; padding-left: 45px;}
.sidebar-row-wrap li.left-bar a:before {  
  font-family: FontAwesome;
  width: 12px;
  height: 12px;
  font-size: 14px;
  position: absolute;
  left: 20px;
}
.sidebar-row-wrap li.left-bar.home a:before {content: "\f015";}
.sidebar-row-wrap li.left-bar.update-form a:before {content: "\f0c5";}
.sidebar-row-wrap li.left-bar.help-desk a:before {content: "\f059";}
.sidebar-row-wrap li.left-bar.contact-us a:before {content: "\f095";}
.sidebar-row-wrap li.left-bar.view-form a:before {content: "\f06e";}
.main-container-row {
  /* width: calc(100% - 240px); */
  /* -webkit-transition: width ease-in-out 0.5s;
  -moz-transition: width ease-in-out 0.5s;
  -ms-transition: width ease-in-out 0.5s;
  -o-transition: width ease-in-out 0.5s;
  transition: width ease-in-out 0.5s; */
}
.main-inner-container {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
  box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 
  0 4px 16px 0 rgba(167, 175, 183, 0.33) !important;
}
.main-inner-container h1 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 22px;
  text-transform: capitalize;
  color: #1da0e0;
}
.right-sidebar-contact {color: #6c757d;}
.right-sidebar-contact h5 {text-transform: uppercase;margin: 0 0 15px;}
.sidebar-header .sh-link {
  color: #6c757d;
  background: #fff;
  margin: 0 0 12px;
  display: block;
  padding: 10px;
  font-size: 13px;
  box-shadow: 2px 2px 4px 1px rgb(108 117 125 / 0.2);
  border-radius: 4px;
}
.sidebar-header .sh-link i {opacity: 0.7; margin-right: 5px;}
.right-sidebar-contact .sidebar .side-card:not(:last-child) {
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(108 117 125 / 0.2);
}
.sidebar-user-details .sidebar-user {display: flex;margin-bottom: 10px;}
.sidebar-user-details .sidebar-user .su-img {
  position: relative;
  width: 35px;
  height: 35px;
  padding: 4px 7px;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 10px;
}
.sidebar-user-details .sidebar-user .su-img:before {
  content: "\f007";
  font-family: 'FontAwesome';
  font-size: 25px;
  line-height: 25px;
  display: block;
}
.su-content span {
  display: block;
  font-size: 13px;
}
.su-content span strong {
  font-size: 14px;
}
.su-links {
  font-size: 13px;
  display: block;
  margin-bottom: 3px;
}
.su-links i {
  margin-right: 10px;
  font-size: 16px;
}
.right-sidebar-contact .map-location {
  padding-bottom: 10px;
}
.right-sidebar-contact .map-location img {
  width: 100%;
  margin-bottom: 10px;
}
/*==================Wizard==========================*/
.site-wizard {
  /* border-top: 10px solid #f0f6ff; */
  margin: 0 -15px;
}
.site-wizard .sw-steps {
  list-style: none;
  display: -webkit-flex;
  display: flex;
  background-color: #1da0e0;
  color: #fff;
  padding: 0 10px;  
  box-shadow: 2px 2px 4px 0px rgb(108 117 125 / 0.2);
  margin-bottom: 0;
  margin-top: -20px;
}
.site-wizard .sw-steps li {
  font-size: 15px;
  color: #fff;
  padding: 10px 15px;
  transform: skewX(-25deg);  
}
.site-wizard .sw-steps li.active {
  background: #fff;
  color: #1da0e0;
}
.site-wizard .sw-steps li:not(:last-child) {
  box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 0.1);
}
.site-wizard .sw-steps li span {
  transform: skewX(27deg);
  display: block;
}
.site-wizard .sw-body {
  /* box-shadow: 2px 2px 3px 1px rgb(0 0 0 / 0.1); */
  border-top: 10px solid #f0f6ff;
  min-height: 300px;
  padding: 20px 15px 0;
}
.sw-steps-content {
  display: none;
}
.sw-steps-content.active {
  display: block;
}
.sw-steps-content .col-sm-3 {
  padding-left: 5px;
  padding-right: 5px;
}
.sw-content {
  padding: 0 5px;
  margin-bottom: 20px;
}
.sw-content .pagetitleh2 {
  padding: 8px 15px;
  margin: 0 -5px;
  background-color: rgb(29 160 224 / 0.6);
  color: #fff;
  font-size: 14px;
}
/*================Dropify image file======================*/
.form-control.dropify {
  opacity: 0 !important;
}
.dropify-wrapper {
  text-align: left !important;
  /* border-bottom: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important; */
  height: 34px !important;
  border-radius: 4px;
}
.dropify-wrapper .dropify-preview .dropify-render i {
  font-size: 34px !important;
}
.dropify-wrapper .dropify-preview .dropify-render .dropify-extension {
  font-size: 9px !important;
  margin-top: 5px;
  padding-left: 7px;
}
.dropify-wrapper .dropify-preview .dropify-render i,
.dropify-wrapper .dropify-preview .dropify-render .dropify-extension {
  left: 0 !important;
  transform: translateY(-50%) !important;
}

button.dropify-clear {
  font-size: 0 !important;
  border: none !important;
  padding: 5px;
}
button.dropify-clear::after {
  content: "\f00d";
  color: #fff;
  font-size: 12px;
  font-family: fontAwesome;
}
.dropify-wrapper.has-preview {border: none;}
.result-doc .dropify-wrapper .dropify-message p {font-size: 0;}
.result-doc .dropify-wrapper .dropify-message p i {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.result-doc .dropify-wrapper .dropify-message p:after {
  content: 'Latest Available Report Card';
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.8;
}

.child-image .dropify-wrapper .dropify-message p {font-size: 0;}
.child-image .dropify-wrapper .dropify-message p i {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.child-image .dropify-wrapper .dropify-message p:after {
  content: 'Upload Child Image';
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.8;
}

/*================form group======================*/
.material-switch {
  margin-top: 7px;
}
.form-group small.req {color: red;}
.errorCol .form-control {
  border-color: red;
}
.errorCol input.chk ~ label {
  color: red;
}
.site-btn, .site-btn:hover, .site-btn:active, .site-btn:focus {
    background-color: #1f4475;
    color: #fff;
    border-color: #1f4475;
    outline: none !important;
    padding: 10px 14px;
}
.site-btn:hover,.site-btn:active,.site-btn:focus {
  opacity: 0.8;
}
.sw-footer {
  /* padding-top: 10px; */
  /* border-top: 1px solid #e3e3e3; */
  margin: 0 10px;
}

.sw-footer .sw-btn:not(:last-child) {
  margin-right: 5px;
}
.sw-save-btn, .sw-save-btn:hover,.sw-save-btn:active,.sw-save-btn:focus {
  background: #036494;
}
.material-switch > input[type="checkbox"] {
  display: none;   
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative; 
  width: 40px;  
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}
.sw-steps-content .row {
  display: block;
  font-size: 0;
}
.sw-steps-content .sw-col {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-size: 14px;
}
.tshadow {
  border: 1px solid #e7ebf0;
}
.form-note {
  margin: 5px 15px 15px;
  font-size: 13px;
}

.form-group label.terms-label {
  width: 90%;
  vertical-align: top;
  margin-left: 8px;
  color: #6c757d;
  opacity: 1;
  font-size: 13px;
}
/* loader */
.loader-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  display: none;
  background: rgba(255,255,255,0.6);
}
.loader-wrap img {
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media screen and (min-width: 992px) {
  .sidebar-row-wrap {display: flex;}
  .main-inner-container {
    margin: 20px 25px;
    width: calc(75% - 50px);
    min-height: 400px;
  }
  .right-sidebar-contact {
    padding: 0;
    float: right;
    margin-top: 20px;
  } 
  .main-container-row {
    width: calc(100% - 240px);
    -webkit-transition: width ease-in-out 0.5s;
  -moz-transition: width ease-in-out 0.5s;
  -ms-transition: width ease-in-out 0.5s;
  -o-transition: width ease-in-out 0.5s;
  transition: width ease-in-out 0.5s;
  }
}
/* registration details */
.view-details label {margin-bottom: 10px; font-weight: 400 !important; color: #6c757d; opacity: 1;font-family: 'Nunito';}
.view-details label strong {color: #1f4475; margin-right: 5px;}
.view-details .row {padding: 10px 0;}

.terms_modal.popup, .privacy_modal.popup {
  display: none;
  background: rgba(0,0,0,0.2);
  color: #1f4475;
}
.light-highlight{
  background: lightGrey;
}
.terms_modal.popup.pop, .privacy_modal.popup.pop {
  display: block;
}
.terms_modal_inner, .privacy_modal_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-height: 70vh;
  overflow: hidden;
  overflow-y: auto;
  background: #fff;
}
.terms_modal_content, .privacy_modal_content {
  position: relative;
  width: 70vw;
  min-width: 300px;
  background: #fff;
  padding: 40px 25px;
  border-radius: 4px;
  text-align: justify;
}
.terms_modal_content mark, .privacy_modal_content mark{
  background: #ff0;
  color: #333;
}
.terms_modal_content h3, .privacy_modal_content h3 {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
.terms_modal_content div, .privacy_modal_content div {
  white-space: pre-line;
  line-height: 1.6;
}
.active-tab {display: none !important;}
.daterangepicker.show-calendar .calendar.left,
.daterangepicker.show-calendar .calendar.right {
    float: left;
}
.daterangepicker.show-calendar .calendar + .ranges {
    float: none;
    width: 100%;
    clear: both;
    border-top: 1px solid #f4f4f4;
    padding: 10px 0 5px;
    margin-top: 5px;
}
@media screen and (max-width: 767px) {
  .sw-steps-content .sw-col {
    width: 100%;
  }
  .view-details label {
    padding: 10px 15px; 
    margin: 0; 
    border-bottom: 1px solid #f4f4f4;
  }
  .view-details label strong {
width: 50%;
  display: inline-block;
  vertical-align: top;
  }
}
#sidebar-wrap {
  left: -16px;
  width: 240px;
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  box-shadow: 10px 15px 30px 1px rgba(0,0,0,.1);
  background: #283040;
  -webkit-transition: width ease-in-out 0.5s;
  -moz-transition: width ease-in-out 0.5s;
  -ms-transition: width ease-in-out 0.5s;
  -o-transition: width ease-in-out 0.5s;
  transition: width ease-in-out 0.5s;
}
#sidebar-wrap:before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 13px solid #283040;
  position: absolute;
  top: -10px;
  left: 26px;
}
#sidebar-wrap.closed {    
  width: 0;  
}
#sidebar-wrap.closed + .main-container-row {
  width: 100%;
}

.front-site .navbar-brand.logo img {height: 70px;}
.top-list {padding: 0;margin:0;list-style: none;text-align: right;}
.top-list li{
  position:relative;
  color:#fff;
  display:inline-block;
  color: #fff;
  padding: 5px 0px 5px 15px;
  font-size: 13px;
  }
.top-list li i{margin:0px 8px 0px 0px; }
.top-list li a{color: #fff;text-decoration: none;}
.top-list li a:hover{ color:#424242; text-decoration: none;}
.top-right{margin: 0; padding: 0; float: right}
.top-right li{list-style: none;margin-left: .5em;display: inline-block;}
.top-right li a{
    padding: 0em 1em;
    line-height: 30px;
    text-decoration: none;
    display: inline-block;    
    border-radius: 4px;
    color: #1f4475;
  }
.top-right li a:hover {color: #1f4475;}
.top-right li i{padding-right: 0.7em; font-size: 18px;}
.navbar-nav>li {margin-top: 10px;}
header{box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);background: #fff;padding-top: 10px;
    padding-bottom: 10px; position: relative;z-index: 1}
.logo{padding:0px 0 0; height: 100%;}
.navbar{margin-bottom: 0;}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
.navbar-toggle .icon-bar {background: #1f4475;}
.navbar-inner {display: flex; justify-content: space-between; align-items: center;}
.navbar-inner .navbar-header {float: none;}
.navbar-inner .navbar-header .school-title {
  font-size: 15px; 
  font-weight: 700;
  font-family: 'Nunito';
  color: #1f4475;
  margin: 27px 0 0 30px;
  display: block;
  float: left;
  letter-spacing: 0.5px;
}
.navbar-nav>li>a {color: #000;}
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.navbar-right .dropdown-menu {
    right: auto;
    left:0;
    border-top: 2px solid #01bafd;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu>li>a{padding:6px 20px;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {color: #fff;
    text-decoration: none;background-color: #1da0e1;}
     
/*.navbar-nav>.active>a{background: #1ea0e0;
    color: #fff;}	*/

   .navbar-nav>.active>a,.navbar-nav>.active>a:focus,.navbar-nav>.active>a:hover {
   background: #1ea0e0;
    color: #fff;
} 
.mt10{margin-top: 10px;}
.spacet50{padding-top: 50px;}
.spaceb50{padding-bottom: 50px;}
.more-btn:hover{ background: #2b2a29; color: #fff; text-decoration: none;}
.more-btn {
    background: #fbbe07;
   border-radius: 30px; padding: 10px 30px;
    text-align: center;display: inline-block;
    border: 1px solid transparent;
    color: #fff;   
    -webkit-box-shadow: 6px 20px 20px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 20px 20px -16px rgba(0,0,0,0.75);
    box-shadow: 6px 20px 20px -16px rgba(0,0,0,0.75);
}
 .about {
    color: #000;
    text-transform: uppercase;
    font-size: 25px;
    /* letter-spacing: 2px; */
    font-weight: 700;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    /* padding-bottom: 15px; */
    /* margin-bottom: 20px; */
    }
.about:before {
    content: '';
    background: #b0dd38;
    width: 34%;
    height: 3px;
    position: absolute;
    bottom: 0;
    /* left: 0%; */
}
.about:after{
    content: '';
    background: #f28104;
    width: 10%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0%;
}
.abouttext{font-size: 14px;color: #8d8d8d;line-height: 30px;}
.bs-slider{
    overflow: hidden;
    max-height:100%;
    position: relative;
    background: #000000;
}
.background-opacity{position: relative;}

.background-opacity:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(10, 15, 28, 0.7);
}
.about-title {
   background-image: url(../images/aboutbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 200px;
    color: #fff;
    text-align: center;
     display: none;
}

.about-title:before {
    border-radius: 4px;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(10, 15, 28, 0.7);
}

.about-title .innermain {height: 100%;display: table; width: 100%;}

/*.about-title .container {height: 100%;display: table}*/

.page-title-wrapper {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 2
}

.captions {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 7px 0
}

.breadcrumb {
    margin: 0;
    background-color: transparent;
    text-transform: capitalize
}

.breadcrumb li {display: inline-block}
.breadcrumb li a {color: #cccccc}
.breadcrumb li a:hover {color: #1ea0e0}
.breadcrumb li:last-child {pointer-events: none}
.breadcrumb li.active a {color: #fff}
.breadcrumb li + li:before {
    padding: 0 10px;
    color: #cccccc;
    content: '\f105';
    font-family: FontAwesome
}



.aboutpage {margin: 2em 0 0 0;}
.aboutpage-icon{/* float:left; */width: 41px;position: absolute;}
.aboutpage-icon i.fa {color: #1da0e1;font-size: 2em;}
.aboutpage-info{
  /* float:left; */
  /* width:80%; */
  margin-left: 40px;
}
.aboutpage-info h5 {
    font-size: 1.3em;
margin-top: 0;
    text-transform: uppercase;
}
.aboutpage-info p{
    line-height: 1.8em;
 
}
.bs-slider:hover {
    /*cursor: -moz-grab;
    cursor: -webkit-grab;*/
}
.bs-slider:active {
    /*cursor: -moz-grabbing;
    cursor: -webkit-grabbing;*/
}
.bs-slider .bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
}
.bs-slider > .carousel-inner > .item > img,
.bs-slider > .carousel-inner > .item > a > img {
    margin: auto;
    width: 100% !important;
}

/********************
*****Slide effect
**********************/

/*.fade {
    opacity: 1;
}
.fade .item {
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}
.fade .item:first-child {
    top: auto;
    position: relative;
}
.fade .item.active {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}
*/





/*---------- LEFT/RIGHT ROUND CONTROL ----------*/
.control-round .carousel-control {
    top: 47%;
    /*opacity: 0;*/
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #000;
    display: block;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    line-height: 43px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: #fff;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.control-round:hover .carousel-control{
    opacity: 1;
}
.control-round .carousel-control.left {
    left: 1%;
}
.control-round .carousel-control.right {
    right: 1%;
}
.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover{
    color: #fdfdfd;
    background: rgba(0, 0, 0, 0.5);
    border: 0px transparent;
}
.control-round .carousel-control.left>span:nth-child(1){
    left: 45%;
}
.control-round .carousel-control.right>span:nth-child(1){
    right: 45%;
}


.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;}
.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 0;
    background-color: #fff;
}

/*---------- INDICATORS CONTROL ----------*/
.indicators-line > .carousel-indicators{
    right: 45%;
    bottom: 3%;
    left: auto;
    width: 90%;
    height: 20px;
    font-size: 0;
    overflow-x: auto;
    text-align: right;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    white-space: nowrap;
}
.indicators-line > .carousel-indicators li{
    padding: 0;
    width: 25px;
    height: 25px;
    border: 1px solid rgb(158, 158, 158);
    text-indent: 0;
    overflow: hidden;
    text-align: left;
    position: relative;
    letter-spacing: 1px;
    background: rgb(158, 158, 158);
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    z-index: 10;
    cursor:pointer;
}
.indicators-line > .carousel-indicators li:last-child{
    margin-right: 0;
}
.indicators-line > .carousel-indicators .active{
    margin: 1px 5px 1px 1px;
    box-shadow: 0 0 0 2px #fff;
    background-color: transparent;
    position: relative;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

}
.indicators-line > .carousel-indicators .active:before{
    transform: scale(0.5);
    background-color: #fff;
    content:"";
    position: absolute;
    left:-1px;
    top:-1px;
    width:25px;
    height: 25px;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}



/*---------- SLIDE CAPTION ----------*/
.slide_style_left {
    text-align: left !important;
}
.slide_style_right {
    text-align: right !important;
}
.slide_style_center {
    text-align: center !important;
}

.slide-text {
    left: 0;
    top: 15%;
    right: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 85px;
    
}

.slide-text > h1 {
    
    padding: 0;
    color: #ffffff;
    font-size: 70px;
    font-style: normal;
    line-height: 84px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.slide-text > p {
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-family:'Avenir-Light';
    font-weight: 300;
    margin-bottom: 40px;
    letter-spacing: 1px;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
.slide-text > a.btn-default{
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

}
.slide-text > a.btn-primary{
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-left: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    background: #00bfff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slide-text > a:hover,
.slide-text > a:active {
    color: #ffffff;
    background: #222222;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}






/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px) {
    .slide-text h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .slide-text > p {

        font-size: 18px;
    }
    #sidebar-wrap {
      position: absolute;
      z-index: 2;
      left: 0;
      height: 100%;
    }
    .main-container-row {
      margin: 0;
    }
    .main-inner-container {
      min-height: 200px;
      margin: 25px 15px 25px;
    }
    .main-inner-container, .right-sidebar-contact {
      float: none;
      width: 100%;
      margin: 25px 0;
    }

}


/*---------- MEDIA 480px ----------*/
@media  (max-width: 768px) {
    .slide-text {
        padding: 10px 50px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slide-text > p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .control-round .carousel-control{
        display: none;
    }

}
@media  (max-width: 320px) {
    .slide-text {
        padding: 10px 30px;
    }
    .slide-text h1 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .slide-text > p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .slide-text > a.btn-default, 
    .slide-text > a.btn-primary {
        font-size: 10px;
        line-height: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 10px 15px;
    }
    .indicators-line > .carousel-indicators{
        display: none;
    }

}

/*gallery page*/
.gallery {
  position: relative;
  /*z-index: 2;*/
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;*/
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.gallery.pop {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.gallery figure {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.gallery figure img {
  width: 100%;
  border-radius: 4px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.gallery figure figcaption {
  display: none;
}

.popup {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out .2s;
  transition: opacity .5s ease-in-out .2s;
}
.popup.pop {
  opacity: 1;
  -webkit-transition: opacity .2s ease-in-out 0s;
  transition: opacity .2s ease-in-out 0s;
}
.popup.pop figure {
  margin-top: 0;
  opacity: 1;
}
.popup figure {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  margin-top: 30px;
  opacity: 0;
  -webkit-animation: poppy 500ms linear both;
          animation: poppy 500ms linear both;
}
.popup figure img {
  position: relative;
  z-index: 2;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 6px 30px rgba(0, 0, 0, 0.4);
  width: 100%;
}
.popup figure figcaption {
  position: absolute;
  bottom: 50px;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.78));
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.78));
  z-index: 2;
  width: 100%;
  border-radius: 0 0 4px 4px;
  padding: 100px 20px 20px 20px;
  color: #fff;
  font-size: 32px;
}

.popup .close2{
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  width: 25px;
  line-height: 25px;
  height: 25px;
  font-size: 30px;
  cursor: pointer;
  color: #1f4475;
  text-align: center;
  opacity: 1;
}
.popup .close2:hover{opacity: 0.6;}

.catetab{    
    background: #1da0e0;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 4px 4px 0px 0;}

      
.sidebar{position: -webkit-sticky;position: sticky;top: 0px;}
.catelist{padding:0;margin: 0;border: 1px solid #ddd;}
.catelist li{display: block;list-style: none;position: relative;border-bottom: 1px solid #ddd;}
.catelist li a{color: #000;text-decoration: none;padding: 10px 35px;display: block;}
.catelist li a:after{content: "\f105";position: absolute;top: 10px;left: 20px;font-family:'FontAwesome';}
.catelist li a:hover{color: #fff;text-decoration: none;background: #1da0e0;}
.catelist li:last-child{border-bottom: 0;}
/*end gallery page*/

/*contact*/
.contact-item {
  margin-top: 30px; margin-bottom: 30px;
    padding: 30px 30px;
    text-align: center;
    background-color: #f8fdff; 
    border:1px solid #ececec;
    transition: all .3s ease-in;
    /*box-shadow: 0px 2px 10px -4px #333745;*/
    min-height: 225px;
}
.contact-item h3{font-size: 20px; margin-top: 0;
    text-transform: uppercase;
    color: #000;}
/*.contact-item:hover img {
    background: #036494;
    color: #fff;
}*/
.contact-item svg{width: 66px; border: 2px solid #036494;
    height: 66px;  border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; display: block;}
.contact-item img {
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin-bottom: 20px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.contact-item p{line-height: 20px; margin-bottom: 0;}
.courses-head{margin:0px 0 5px;}
.courses-head span{color: #fbbe07;}


.contact-item:hover {background-color: #fff;border:1px solid rgba(51, 51, 51, 0.36); box-shadow: 0 0 15px rgba(0, 0, 0, 0.15)}

.contact-page{padding-top: 30px;padding-bottom: 30px;}

.contact-page .contact-form{padding-top: 20px;} 
.form-group label {
  font-weight: normal;    
  color: #1f4475;
  opacity: 0.7;
  font-size: 12px;
}
.mapWrapper iframe{display: block;}
/*.form-group .form-control {
  border:#999 1px solid;
  box-shadow: none;
}
*/
textarea{
   resize: none;
   padding: 10px;
   border-radius:0;
}

.contact-page .contact-wrap {margin-top: 20px;}
/*.bg-gray{background: #f9f8f8;}*/
.submitbtn:hover{ background: #2b2a29; color: #fff; text-decoration: none;}
.submitbtn {
    background: #036494;
   border-radius: 30px; padding: 10px 30px;
    text-align: center;display: inline-block;
    border: 1px solid transparent;
    color: #fff;   
    -webkit-box-shadow: 6px 20px 20px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 20px 20px -16px rgba(0,0,0,0.75);
    box-shadow: 6px 20px 20px -16px rgba(0,0,0,0.75);
}
/*end contact*/

.eventbox {
    position: relative;
    background-color: #1da0e0;
    color: #fff;
    margin: 0px 0 25px;
    transition: all 1s ease 0s;
    border-radius: 4px;
    height: 230px;
    overflow: hidden;
    border: 1px solid #cacbcc;
    /*box-shadow: 0px 0 10px rgba(0, 0, 0, 0.39);*/
}
.eventbox a{color: #fff; cursor: pointer; display: block;border-radius: 4px;}
.eventbox a:hover{background-color: #ddd;color: #fff; cursor: pointer;}
.evcontentfix{position: absolute;bottom: 0; width:100%; background: #046493; padding: 0 10px 5px;}
/*.evcontentfix:hover{color: #fff; text-decoration: none;}*/
.eventbox img{width: 100%; height: auto;border-radius: 4px 4px 0 0px;}
.time{}
.eventbox h3{font-size: 20px; margin-top: 10px; margin-bottom:5px;}
.newsborder{border:1px solid #ddd; padding: 10px 10px 0;}
.newsbox{width: 100%;clear: both;overflow: hidden;padding-bottom: 10px;

    margin-bottom: 10px; border-bottom: 1px solid #ddd;}
.date span{display: block; width: 100%;overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;}
.date{width: 60px; border-radius: 2px;padding-top: 5px; background: #1da0e1;color: #fff;  border:1px solid #000; 
  height: 50px;  position: absolute; left: 0;  text-align: center;}
/*.newscontent{padding-left: 10px;float: left;width: 75%;}
.newscontent a{display: block; color: #036494; text-decoration: none; text-align: right;}
.newscontent a:hover{color: #036494; text-decoration: underline;}*/

.complain:not(.left-bar) {
  min-height: 70px;
   transition: all 1s ease 0s;
    border-radius: 4px;
   background: #1ea0e0;
    /* position: relative; */
    font-size: 18px;
    margin-top: 10px;
    padding-left: 75px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    width: 100%;
    
    /* text-transform: uppercase; */}
.complain:not(.left-bar) i{position:absolute; left:20px;font-size: 50px;}
.complain:not(.left-bar) a{ text-decoration: none; display: block; cursor: pointer; padding: 10px; 
  color: #fff; }
.complain:not(.left-bar):hover{display: block; background: #046493;}
.newshidescroll{overflow-y: scroll !important; height: 450px !important}
.newscontent { 
  width:100%;
  height:250px;
  overflow:hidden;
  border:1px solid #ddd; padding:10px 20px 10px 20px;
}
.newscontent .mask {
  position: relative;
  width:100%;
  height:230px;
  overflow: hidden;
}
.newscontent ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}
.newscontent ul li:last-child{border-bottom: 0;}
.newscontent ul li {
  padding:10px 0px 25px 70px; clear: both; width: 100%; margin-bottom: 10px;
   border-bottom: 1px solid #ddd; min-height: 80px;
}
.newscontent ul li a {
  text-decoration:none;
  color: #000;  display: block;
}
.newscontent a:hover{color: #036494; text-decoration: underline;}
/*.newsbox li{list-style: none; display: block; position: relative;}
.newsbox li.date{position: absolute; width: 50px; border:1px solid #000; height: 50px;}
.newsbox li a{padding-left: 60px;}*/

/*gallery*/
.gallheight{height: 200px; overflow: hidden;}
.galleryfancy .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.galleryfancy:hover .content-overlay{opacity: 1;border-radius: 4px;}
.overlay-details {
  color: #fff;
  font-size: 24px;
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.galleryfancy:hover .overlay-details{top: 50%;left: 50%;opacity: 1;}
.fadeIn-bottom{top: 80%;}
.galleryfancy{display: block; margin-bottom: 10px; position: relative;
    padding: 5px;border: 1px solid #ddd; border-radius: 4px;}
.galleryfancy img{width: 100%; height: auto;border-radius: 4px;}
.fancy-lightbox{display:-ms-flexbox!important;display:flex!important;
  -ms-flex-align:center;align-items:center;-ms-flex-pack:center;
  justify-content:center;padding-right:0!important}
.fancy-lightbox-container{position:relative}
.fancy-lightbox-container>div.fancy-lightbox-item{position:absolute;top:0;left:0;bottom:0;right:0;
  width:100%}
.fancy-lightbox iframe{width:100%;height:100%}
.fancy-lightbox-nav-overlay{z-index:1;position:absolute;top:0;left:0;width:100%;height:100%;
  display:-ms-flexbox;display:flex}
.fancy-lightbox-nav-overlay a{-ms-flex:1;flex:1;display:-ms-flexbox;
  display:flex;-ms-flex-align:center;align-items:center;opacity:0;transition:opacity .5s;
  color:#fff;font-size:30px;z-index:1}
.fancy-lightbox-nav-overlay a>*{-ms-flex-positive:1;flex-grow:1}
.fancy-lightbox-nav-overlay a>:focus{outline:none}
.fancy-lightbox-nav-overlay a span{padding:0 30px}
.fancy-lightbox-nav-overlay a:last-child span{text-align:right}
.fancy-lightbox-nav-overlay a:hover{text-decoration:none}
.fancy-lightbox-nav-overlay a:focus{outline:none}
.fancy-lightbox-nav-overlay a.disabled{cursor:default;visibility:hidden}
.fancy-lightbox a:hover{opacity:1;text-decoration:none}
.fancy-lightbox .modal-dialog{display:none}
.ekko-lightbox .modal-footer{text-align:left}
.fancy-lightbox-loader{position:absolute;top:0;left:0;bottom:0;right:0;width:100%;
  display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;
  -ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}
.fancy-lightbox-loader>div{width:40px;height:40px;position:relative;text-align:center}
.fancy-lightbox-loader>div>div{width:100%;height:100%;border-radius:50%;background-color:#fff;opacity:.6;
  position:absolute;top:0;left:0;animation:a 2s infinite ease-in-out}
.fancy-lightbox-loader>div>div:last-child{animation-delay:-1s}
.modal-dialog .fancy-lightbox-loader>div>div{background-color:#333}
.fancy-lightbox-item img{border-radius: 4px;}
.modal-title{display: none;}
.fancy-lightbox  .modal-header{padding: 0px;
    border-bottom:none;}
.fancy-lightbox  .close{background: #000;
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    color: #fff;
    outline: 0;
    border-radius: 100%;
    font-size: 20px;
    position: absolute;
    right: -10px;
    opacity: 100;
    top: -10px;
    text-shadow: none;
    border: 2px solid #fff !important;
    box-shadow: 0px 0px 5px #000;}
.fancy-lightbox  .close:hover{background: #6b0f10; opacity: 100; color: #fff;display: block;}
@keyframes a{0%,to{transform:scale(0);-webkit-transform:scale(0)}50%{transform:scale(1);-webkit-transform:scale(1)}}




/*end gallery*/

.cuadro_intro_hover{
      padding:0px;
    position: relative;
    overflow: hidden;
    height: 230px;border-radius:4px;
    margin-bottom: 30px;
  }
  .cuadro_intro_hover:hover .eventcaption{
    opacity: 1;
    transform: translateY(-180px);
    -webkit-transform:translateY(-180px);
    -moz-transform:translateY(-180px);
    -ms-transform:translateY(-180px);
    -o-transform:translateY(-180px);
  }
  .cuadro_intro_hover img{
    text-align: center;border-radius: 4px 4px 0 0px;
   width: auto; height: auto;
  }
  .cuadro_intro_hover .eventcaption{
    position: absolute;
    top:180px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    width: 100%;
  }
  .cuadro_intro_hover .blur{
    background:rgba(30, 160, 224, 0.86);
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
  }
  .cuadro_intro_hover .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    top:-20px;
    width: 100%;
}
.event20{padding: 0px 10px;color: #fff;position: relative;z-index: 6;}
.newsinner{background: #1ea0e0;padding: 10px;}
.newsmaindiv .col-md-4{ padding-right: 5px;padding-left: 5px;}
.newsmaindiv .row {margin-right: -20px;margin-left: -20px;}
.newspagebox2{
    background: #0a6fa0;
    min-height: 200px;
    border:1px solid #bfbebe;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.30);
    }
.newspagebox2 h2{color: #35373e; text-transform: uppercase; margin-top: 0;  font-size: 20px;}    
.newspagebox2 h3{
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    padding: 4px 20px;
    font-size: 14px;
    }
.newspagebox2 h4{color: #35373e; font-size:16px; margin-top: 0}
.newspagebox2 p{color:#35373e;}
.newspagebox2 a{color:#1ea0e0;}
.newspagebox2 .date2{color: #1ea0e0; font-weight: 700;}
.newspagebox2 a:after{content: "\f178";
    display: inline-block;
    margin-left: 6px;
    font-family: FontAwesome;
    font-size: 12px;
    line-height: 1;
    display: inline-block;
    color: #1ea0e0;}
.news_titles {
    background: #fff;
    margin: 20px 20px 0;
    padding: 15px 20px;
    position: relative;
    border-radius: 2px;
    /* box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.30); */
}
.newsmain {
    display: block;
    margin-left: -20px;
}
/*footer*/ 
footer{clear: both;}
.fo-title{color: #fff;position: relative;padding-bottom: 15px;margin-bottom: 15px;}
.fo-title:after{position: absolute;content: "";background: #ffffff;width: 40px;height: 2px;bottom:0;left: 0;}
.f1-list{padding: 0; margin: 0; list-style: none;}
.f1-list li{display: block; padding:2px 15px; position: relative;}
.f1-list li a:after{ content: "\f105";
    position: absolute;
    top: 2px;
    left: 0px;
    font-family: 'FontAwesome';}
.f1-list li a{text-decoration: none; color:#fff;}
.f1-list li a:hover{text-decoration: none; color:#ff910b;}
.co-list{padding: 0; margin: 0; list-style: none;}
.co-list li{display: block;padding: 5px 30px;position: relative;color:#fff;}
.co-list li i{content: "";position: absolute;left: 0;top: 8px;font-family: 'FontAwesome';color: #ffffff;}
.co-list li a{text-decoration: none; color:#fff;}
.co-list li a:hover{text-decoration: none; color:#ff910b;}
.fleft{text-align: left;}
.fright{text-align: right;}
.copy-right{background: #1da0e1; font-size: 12px;padding: 10px 0 0;color:#fff;}
a.copy {color: #fff;}
.copy img{width: 15px; height: 15px;}
a.copy:hover{color: #d56e00;text-decoration:underline;}
.fbolist{margin:0;padding:0;}
.fbolist li{list-style: none; display: inline-block; position: relative;}
.fbolist li a {text-decoration: none; color: #fff; padding: 0 10px;}
.fbolist li:after{content: "|"; position: absolute;
    left: -3px;
    top: -1px;
    font-size: 15px;}
.fbolist li:first-child:after{display: none;}
.fbolist li a:hover{text-decoration: none; color: #ff910b;}  
.fleft{text-align: left;}
.fright{text-align: right;}
/*end footer*/

h2{margin-top: 0;}
.list-1{margin: 0;padding-left: 12px;}
.list-1 li{/*list-style: disc;*/ padding-bottom: 5px;line-height: 24px;}
.listsub{line-height: 24px;margin-bottom: 5px;}
.listbox{padding: 0; margin:0;}
.listbox li{display: block;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 4px;
    width: 30%;
    float: left;}
.listbox +li{margin-right: 10px; margin-left: 10px;}    
/*.list-1 li:after{position: absolute; left: 0; content: ""; top:0; }*/
@media(max-width: 767px){
.social, .top-list{text-align: center;}
.top-right {float: none;text-align: center;}
.navbar-nav>li {margin-top:0px;}
.logo img{height: 40px;}
.front-site .navbar-brand.logo img {height: 40px;}
.top-right li i {
  padding-left: 14px;
  padding-right: 0;
  font-size: 20px;
}
.top-right li a {
  padding: 0;
}
.front-site .navbar-toggle {
  margin: 6px 5px 0 0;
}
.top-right li a span {display: none;}
.fleft, .fright{text-align: center;}
.newsmain{margin-left: 0px;margin-top: 15px;}

.site-wizard .sw-steps li {
  transform: none;
  box-shadow: none !important;
  display: none;
}
.site-wizard.view-details .sw-steps li {
  display: block;
}
.site-wizard .sw-steps li.active {
  display: block;
  width: 100%;
  background: #1da0e0;
  color: #fff;
}
.site-wizard .sw-steps li span {
  transform: none;
  display: block;
}
.view-details label {
  width: 100%;
}

}

@media(min-width:320px) and (max-width: 480px){
  .gallery figure {-ms-flex-preferred-size: 100%;flex-basis:100%;}  
}
@media(min-width:481px) and (max-width: 767px){
  .gallery figure {-ms-flex-preferred-size: 50%;flex-basis:50%;}  
}
@media(min-width:992px) and (max-width:1199px){
.logo img{height: 55px; margin-top: 5px;}
}
@media (min-width:900px) {
 .dropdown:hover .dropdown-menu {display: block;}   
 .dropdown .dropdown-menu{display: none;}
}

.mediarow .row {
    margin-right: -5px;
    margin-left: -5px;
}
.img_div_modal {
    padding-right: 5px;
    padding-left: 5px;
}


/*scrol to top*/


.scrollToTop {
  border-radius: 100%;
  bottom: 20px;
  color: #fff;
  display: none;
  font-size: 24px;
  line-height: 36px;
  height: 40px;
  background: #1ea0e0;
  position: fixed;
  right: 20px;
  border:2px solid #fff;
  text-align: center;
  text-decoration: none;
  width: 40px;
   z-index:99; 
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.scrollToTop::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    border-radius: 50%;
    background-color: #2989d2;
    z-index: -1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid #2989d2;
    -webkit-animation: video-icon 1200ms linear infinite;
    animation: video-icon 1200ms linear infinite;
   
}
.scrollToTop:hover {background-color: #036493;color: #fff;}
@-webkit-keyframes video-icon {
  0% {
    width: 0;
    height: 0;
    opacity: 1; }
  50% {
    width: 100%;
    height: 100%;
    opacity: 1; }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0; } }
@keyframes video-icon {
  0% {
    width: 0;
    height: 0;
    opacity: 1; }
  50% {
    width: 100%;
    height: 100%;
    opacity: 1; }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0; } }
.svg {width: 50px; height: 50px;}
.svg path {fill: #81ccfb !important;}

.about_img img{width: 100%; height: auto;}
.about_img{position: relative;margin-top: 30px;}
.about_img:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 33, 33, 0.5);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.about_img:hover:after {
  opacity: 1;
}


.about-right{display: block; margin-top: 30px;}
.about-right h3{text-transform: uppercase; font-size: bold; margin-top: 0}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f01a";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #fff;         /* adjust as needed */
    font-size:18px;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f01b";    /* adjust as needed, taken from bootstrap.css */
}
.accrodion2{display: block;}
.accrodion2 .panel-default>.panel-heading{background-color: #1ea0e0;color: #fff;padding: 15px 15px;
 -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;}
.accrodion2 .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: #fff;
}

.accrodion2 .panel-default>.panel-heading:hover{
    color: #fff; background: #005C97;
}
.courses-box{
  border: 1px solid #f0f0f0;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: all 1s ease 0s;margin-bottom: 15px;} 

.courses-box:hover, .courses-box:focus, .courses-box:active {
    -webkit-transform: translateY(-8px);transform: translateY(-8px);}
.courses-box-img {position:relative;overflow: hidden;}
.courses-box-img img{width:100%;transition: all .4s; position: relative;}
.courses-box-img:hover img{
 transform: scale(1.15, 1.15) rotate(-5deg);
    -webkit-transform: scale(1.15, 1.15) rotate(-5deg);
    -moz-transform: scale(1.15, 1.15) rotate(-5deg);
     /*-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
}
/*.courses-box-img:hover:after{
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    border: 2px solid #fff;
    transform: scale(1);
}*/
/*.courses-box-info{position: absolute; bottom:0; height: 60px; background:rgba(0, 0, 0, 0.50); width: 100%;}
.course-inner{padding: 10px 20px 30px;}
.course-inner h4 {
    font-size: 18px;    
    color: #bd0745;
    line-height: 22px;
    margin-bottom: 11px;
}

.course-inner p{ padding-bottom: 10px; }
.course-thumb{display: block; padding:5px 20px;}
.course-thumb img{width: 50px !important; height: 50px !important;}
.course-thumb h5 {color: #fff;font-size: 15px;text-transform: capitalize;display: inline-block; padding-left: 15px;}
.courses-box:hover h4{color: #f44336;}
.courses-box:hover .btn-read{background: #fff;color: #000;text-decoration: none;}
.btn-read {
    background: #bd0745;
    text-align: center;
    border: 1px solid #bd0745;
    outline: 0;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all 0.5s ease;
}*/

.courses-box{border: 1px solid #d6d6d6; border-radius: 4px;}
.courses-box-img {position:relative;overflow: hidden;}

.courses-box:hover .courses-box-img i {
    color: #fdc800;
    opacity: 100;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);}
 .courses-box-img i{font-size: 22px;
    cursor: pointer;
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    color: #ff3115;
    z-index: 11;
    color: #fff;
    font-weight: 400;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: all 0.3s ease 0s;}

.courses-box .courses-box-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
}

.courses-box:hover .courses-box-img:before {
      -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.courses-box-img img{width:100%;transition: all .4s; position: relative;}
.courses-box:hover .courses-box-img img{
 transform: scale(1.15, 1.15) rotate(-5deg);
    -webkit-transform: scale(1.15, 1.15) rotate(-5deg);
    -moz-transform: scale(1.15, 1.15) rotate(-5deg);
     /*-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
}
.courses-box:hover .course-inner{background: #015c96;color: #fff;}
.course-inner{padding: 25px 20px;transition: 0.4s;}
.course-inner h4 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 11px;
}
.course-subject{color: #000}

.btn-read {
    background: #025c95;
    text-align: center;
    border: 1px solid #025c95;
    outline: 0;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all 0.5s ease;
} 
.courses-box:hover .btn-read {background: #fff;color: #000;text-decoration: none;}

.course-inner p{ padding-bottom: 10px; }  
.countdown_bg{background: #f5821f;background-size: cover;position: relative;padding: 70px 0;text-align:center;z-index: 0;}
.countdown_bg:after{
    position: absolute;
    content: "";
    background: rgb(1, 92, 150);
    height: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
    top: 0;
    }


.countdown_bg h3 {
  font-size: 48px;
  margin-bottom: 15px;
  color: #FFF;
  font-weight: 700;
  position: relative;
}
.countdown_bg h3:after{
    content: "";
    background: #317baa;
    height: 1px;
    width: 100%;
    bottom: 0;
    margin: 20px auto auto;
    display: block;
    }

.countdown_bg span {
    color: #81ccfb;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.countdown_bg i {
  color: #fdd333;
  font-size: 56px;
}

.testimonial_bg{
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
  z-index: 0;
  color: #fff;
  background-image: url(../images/testimonails.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;

}

.testimonial_bg:after {
    position: absolute;
    content: "";
    background: rgba(2, 92, 149, 0.68);
    height: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
    top: 0;
}

.testimonial_bg h4{
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Nunito';
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.testimonial_bg .testi_description{ 
    display: inline-block;
    text-align: center;
    margin-right: 5%;}
.testimonial_bg .testimonialimg {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    margin: 0 auto;
    overflow: hidden;
    border: 8px solid rgba(255,255,255,0.15);
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
}

.testimonial_bg .testimonialimg img {width: 100%;height: 100%;}

.testi_description h4 {font-size: 16px;font-weight: bold;color: #fff;margin: 20px 0 0 0;}

.testimonial-content span {font-size: 12px;color: #fff;}
.testimonial_bg .testi_description {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 30px 20px;
     border: 8px solid rgb(71, 138, 183);
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    margin-top: 20px;
    background:rgba(0, 0, 0, 0.15);
    position: relative;
    border-radius: 4px;
}
.testimonial_bg .testi_description:before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid rgba(255,255,255,0.15);
    position: absolute;
    top: -28px;
    left: 49.5%;
}
.owl-carousel .owl-nav, .owl-carousel .owl-dots {
    margin-top: 30px;
    text-align: center;
}
.owl-carousel .owl-nav .owl-prev {
    left: 0px;
}
.owl-carousel .owl-nav .owl-next {
    right: 0px;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 45%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border: 1px solid #015c96;
    background-color: #015c96;
    color: #fff;
    transform: translateY(-50%);
    font-size: 22px;
    border-radius: 4px;
    /* opacity: 0; */
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.courses-carousel .owl-nav .owl-prev:hover, .courses-carousel .owl-nav .owl-next:hover {
    background: #fff;
    color: #000;
}
.owl-carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ddd;
}

.owl-carousel .owl-dot.active {background-color: #1da0e0;}

@media only screen and (max-width: 480px){}

.staffteam{ margin-top: 20px; text-align: center;}
.staffteamimg{display: block;overflow: hidden;border-radius: 4px;}
.staffteamimg img{width: 100%; height: auto}

.staffteam .staffteamimg {position:relative;overflow: hidden;height: 250px;}
.staffteam .staffteamimg img{width:100%;transition: all .4s; position: relative;}
/*.ourteam:hover .ourtteamthumb img{
 transform: scale(1.15, 1.15) rotate(-5deg);
    -webkit-transform: scale(1.15, 1.15) rotate(-5deg);
    -moz-transform: scale(1.15, 1.15) rotate(-5deg);
    box-shadow: 0 11px 19px 0 rgba(69, 69, 69, 0.19);
}
.instructor-icon {opacity: 0;transition: all 0.3s ease 0s;}
.ourteam:hover .instructor-icon{opacity: 100; position: relative; z-index: 2;}*/
.staff-content {
  /*background: #0c314e none repeat scroll 0 0;*/
  padding: 0 10px 15px;
  transition:.3s;
}
/*.ourteam:hover .instructor-content{background:#1583c9;}*/
.instructor-icon {
  margin-top: 15px;
}
.staffteam .staffteamimg img {
    width: 100%;
    transform: scale(1);
    transition: all 500ms ease;
}

.staffteam:hover .staffteamimg img {
    transform: scale(1.3);
    transition: all 500ms ease;
}

.staffteam .staffteamimg:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
    /*border-radius: 50%;*/
    transform: scale(0.0);
    transition: all 500ms ease;
}

.staffteam:hover .staffteamimg:before {
    background: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: all 500ms ease;
}

.social-links{margin:0; padding: 0; list-style: none; display: none;}

/*.social-links li.facebook:after{
        content: "\f0da";
    position: absolute;
    top: 6px;
    left: 0px;
    font-family: 'FontAwesome';
    color: #8c8587;
}*/
.social-links li {
    position: relative;
  background: #ffffff none repeat scroll 0 0;
  border-radius: 4px;
  display: inline-block;
  height: 36px;
  margin-right: 5px;
  text-align: center;
  border-radius: 100%;
  width: 36px;
  color: #000;
  transition: .3s;
  box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.175);
}
.social-links li a.active{color: #fff;background: #f5821f;}
.social-links li a:hover{color: #fff;background: #f5821f;}
.social-links li a:last-child{margin-right:0;}
.social-links li a i {
  line-height: 36px;
  font-size: 14px;
}
.staff-content h3 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.staff-content span {
  color: #333;
  font-weight: 400;
}


.our-facility{background-color: #ED6600;
    padding: 50px 0px 50px 0px; color: #fff;}

 .counter-content{color: #fff; text-align: left;}   
.counter-main {
    border:1px solid rgba(255, 255, 255, 0.19);
    padding: 30px 30px 18px;
    border-radius: 4px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin-bottom: 15px;
}
.counter-main:hover{    box-shadow: 0 6px 29px rgba(0,0,0,0.3);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.creative_heading{
    font-size: 30px;
    word-wrap: break-word;
    font-weight: 700;
}
.creative_heading span{color: #ed6600;}

.owl-carousel, .teamstaff{clear: both;}
.services { position: relative;}
.service-inner {
    position: absolute;
    top: -184px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}
.service-box {
  border-right:1px solid rgba(255, 255, 255, 0.21);
  padding: 30px 30px 20px 40px;
  display: block;
  color: #fff;
  background-color: #005C97;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
  border-bottom: 4px solid rgba(255, 255, 255, 0.21);
}
.service-box:last-child {
  border-right: none;
}
.service-box .service-box-content {position: relative;padding-left: 60px;}
.service-box .service-box-content h3 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 0;
}
.service-box .service-box-content h3 a {
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.service-box .service-box-content p {
  color: #FFFFFF;
  font-weight: 400;
  width: 80%;
}
.service-box .service-box-icon {
     padding-top: 10px;
     position: absolute;
     left: 0;
     top: -15px;
}

.service-box .service-box-icon img {
  
width: 50px;
  
height: auto;
  
-webkit-transform: scale(1);
  
transform: scale(1);
  
-webkit-transition: all 0.5s ease-out;
  
-moz-transition: all 0.5s ease-out;
  
-ms-transition: all 0.5s ease-out;
  
-o-transition: all 0.5s ease-out;
  
transition: all 0.5s ease-out;
}

.service-box .service-box-icon i {
  color: #fdc800;
  font-size: 36px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.service-box:hover .service-box-content h3 a {
  color: #fdc800;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.service-box:hover .service-box-content p {
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.service-box:hover .service-box-icon i {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}




.whychooses {text-align: center; padding-top: 30px;}

.whychooses-icon {margin-bottom: 18px;}
.whychooses-icon{
  border-radius: 100%;
  height: 120px;
  width: 120px;
  display: block;
  background: #FFFFFF;
  line-height: 120px;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.whychooses:hover .whychooses-icon{
    background:rgb(162, 217, 245);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.whychooses-icon img {width: 60px; height: 60px; } 
.whychooses h3 a{color: #000;}
.whychooses:hover h3{
  
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.whychooses:hover h3 a{color: #1ea0e0; text-decoration: none;}
.whychooses p {width: 80%;margin: 0 auto;}

.head-title2 {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.head-title2:after {
    position: absolute;
    content: "";
    left: 0;
    width: 50px;
    background: #f5821e;
    height: 2px;
    bottom: 0;
}

.facility_bg {
   background-image: url(../images/achievements-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    padding: 60px 0 60px;
    background-size: cover;
    color: #fff;
    position: relative;
}

.facility_bg:before {
    border-radius: 4px;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(10, 15, 28, 0.7);
}


.visionbg{background: #005C97; color: #fff; padding: 20px; }

.misssion{border-top:4px solid #005C97; background: #fff; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); padding-bottom: 50px; margin-top: 30px; min-height: 365px;}

.whitebox{background: #fff; box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15); padding: 40px;}

.blue-box1 {
background-color: #005C97;color: #fff;text-align: center;}
/*.no-padding{margin-right: -15px;margin-left: -15px;}*/

.sports{display: block;}
.sports h2{font-size:24px;}
.onlineformbtn{
  border-radius: 4px;
   border:0;
    box-shadow: 0px 5px 25px 0px rgba(166, 196, 55, 0.35);
    padding: 5px 20px;
    display: inline-block;
    font-size: 14px;
    background: #1ea0e0;
    text-decoration: none !important;
    color: #fff !important;
    text-align: center;
    line-height: 24px;
    transition: all 0.5s ease 0s;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(3, 100, 148, 0.52);
    -moz-box-shadow: 0px 5px 25px 0px rgba(240, 90, 33, 0.35);
    box-shadow: 0px 5px 25px 0px rgba(29, 160, 224, 0.47);}   

.onlineformbtn a{
  text-decoration: none;
  transition: all 1s ease 0s;
  cursor: pointer;
  padding: 5px;
  color: #fff;
  }
.onlineformbtn:hover{color: #fff;background: #036493;}

@media (max-width: 767px){
    .misssion{min-height: 100%;}
    .affix#alert .header-extras{display: none;}
    .service-inner {position: relative !important;top:0 !important;}
    .about_img{margin-bottom: 20px;}
}    

@media (min-width: 768px) and (max-width:991px) {
  .navborder .navbar-nav>li>a {padding: 23px 15px;}
}

ul.square li {
    list-style: square;
    padding: 3px;
    margin-left: -25px
}
@media(min-width:992px) and (max-width:1199px) {
.nav>li>a {padding: 10px 12px;}
}
.latestevent{padding: 10px 0;} 
.latestevent h4 a{color: #000;}  
.latestevent img{ -webkit-box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.1); border-radius: 4px;}
 .image img{width: 100%; height: auto;}  

/*safari Browser*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  /*::i-block-chrome, .chosebtn{margin-top: -4px;} */ 
  ::i-block-chrome, .fullwidth {width: 102em;margin-left: auto;margin-right: -51em;left: 0;right: 50%;}
  ::i-block-chrome, .affix#alert header{box-shadow: none;}
  ::i-block-chrome, .contact-item img{line-height: normal;}
}

.mobileShow {
  display: none !important;
}
@media screen and (max-width: 1024px) {
  .desktopShow {
    display: none !important;        
  }
}
@media screen and (max-width: 767px) {  
  .mobileShow {
      display: block !important;
  }
}
.displaynone {
    display: none;
}

.linkexpired {
    font-weight: bold;
    color: red;
    padding-bottom: 10px;
    width: 100%;
    float: left;
}
.error_alert{
  display: none;
  color: red;
  background: pink;
  padding: 5px;
}
.sidebar-row-wrap li.left-bar.help-desk,.sidebar-row-wrap li.left-bar.contact-us{
  display: none;
}