@font-face {
    font-family: 'Roboto';
    src: url('../font-awesome/fonts/roboto-regular-webfont.eot');
    src: url('../font-awesome/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font-awesome/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../font-awesome/fonts/roboto-regular-webfont.woff') format('woff'),
         url('../font-awesome/fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../font-awesome/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-style: normal;
}
body {
    font-family: 'Avenir-Book';
    font-size: 16px;
    font-weight: 400;
    color: #6c757d;
    line-height: normal;
    text-align: center;
}

body{background: linear-gradient(to right,#0acffe 0,#495aff 100%); height: 100vh; width:100%;}
       .bgoffsetbg{
        background:#fff;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.29);
        overflow: hidden;
        border-radius: 4px;
        }
       .form-control-feedback {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        pointer-events: none;
    }

strong { font-weight: 500; }

a, a:hover, a:focus {
    color: #de995e; outline: none;
    text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #de995e; color: #fff; text-shadow: none; }
::selection { background: #de995e; color: #fff; text-shadow: none; }


.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 16px 20px 0 20px;
    background: #de995e;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
    padding-right: 5px;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
}

.btn-link-2 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 15px 20px 0 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

/*.inner-bg {padding: 70px 0 100px 0;}*/

.top-content .text {
    color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
    margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
    color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
    margin-top: 25px;
}

.form-top {
    overflow: hidden;
    padding: 5px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    /*float: left;
    width: 75%;*/
    text-align: center;
    padding-top: 25px;
    padding-bottom:8px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 15px;
    font-size: 50px;
    color: #ddd;
    
    text-align: right;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form button.btn {
    width: 100%;
}

.form-bottom form .input-error {
    border-color: #de995e;
}

.social-login {
    margin-top: 35px;
}

.social-login h3 {
    color: #fff;
}

.social-login-buttons {
    margin-top: 25px;
}

a.forgot {
    color: #6c757d;
    text-decoration: none;
    font-size: 12px;
    padding-bottom: 15px;
    font-weight: 600;
    padding-top: 5px;
}
a.forgot:hover{color: #6c757d;text-decoration:underline;}
  .nopadding{padding-left: 0;padding-right: 0;border-right: 1px solid #ddd;}
/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
    
    /*.inner-bg { padding: 60px 0 110px 0; }*/

}

@media (max-width: 415px) {
    
    h1, h2 { font-size: 32px; }

}
a.forgot{display:inline-block;}
a.forgot,
button.btn{overflow: hidden; position: relative;}
a.forgot:active:after,
button.btn:active:after{
    transform: scale(0,0);
    opacity: .2;
    transition: 0s;}
 a.forgot:after,   
button.btn:after
 {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
       background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 2s;

    transform-origin: 50%;

    pointer-events: none;

}


.separatline{background:rgba(221, 221, 221, 0.33);margin-left: 30px;
    width: 1px;height: 450px;}
 .bgwhite{ background: #e4e5e7;box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
            overflow: auto;border-radius: 6px;}
            .llpb20{padding-bottom: 20px;}
            .around40{padding: 40px;}
            .formbottom2{text-align: left;border: 1px solid #e4e4e4;}
            button.btn:hover {opacity: 100 !important; color: #fff;}
            .form-top2 {text-align: left;}
            .img2{width: 100%}
            .spacingmb30{margin-bottom: 30px;}
            .borderR{border-right: 1px solid rgba(66, 66, 66, 0.16);padding: 0px 40px;}
            input[type="text"], input[type="password"], textarea, textarea.form-control {
                height: 40px;
                border-bottom: 1px solid #999 !important;
                border: 0;
                background: transparent;
                border-radius: 0;
                padding-left: 0;
                }
            input[type="text"]:focus, input[type="password"]:focus, textarea:focus, 
            textarea.form-control:focus {
                border-bottom: 2px solid #35aa47 !important;border: 0;}
                .loginbg input[type="text"], .loginbg input[type="password"], 
                .loginbg textarea, .loginbg textarea.form-control {
                    height: 40px;
                    border: 1px solid #999 !important;
                    padding: 1px 10px;
                    border-radius: 4px;
                }
            button.btn {height: 40px;line-height: 40px;}
            .ispace{ padding-right:5px;}
            .form-top {
                       background: transparent;
                       /*box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.29);*/
                       }
            .form-bottom{background:transparent;}
            .font-white{text-align: center;color: #1f4475;font-size: 18px;margin-top: 0;font-weight: 600;margin-bottom: 15px;}

.login390{min-height: 390px; }
.loginbg{background: #fff;}

.top-content{width: 100%;
    min-height: 95vh;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.login-page, .forget_pass-page {
    min-height: 100vh;
    background-image: url('../../../../uploads/admin_images/banner_final.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.forgot-login-link-wrap a {
    padding-top: 15px;
    padding-bottom: 0;
}
/*safari Browser*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome, .top-content{display: block;}
  ::i-block-chrome, .inner-bg {padding: 70px 0 100px 0;}
  body {
    background: #f5f5f5;
    height: 100%;
    }
}
/*End safari Browser*/

.login-page .loginbg h3.font-white {
    display: none !important;
}
.loginright{ 
    text-align: left;
    color: #6c757d;
    max-height: 320px;
    padding-left: 10px;
    overflow: auto;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 15px;
}   


.h3 {
    font-size: 22px;
    color: #6c757d;
    padding-left: 10px;
    text-align: left;
    line-height: normal;
    font-weight: 500;

}

.loginright h3 {
    font-size: 22px;
    color: ##6c757d;
    margin-top:0px;
    line-height: normal;
    font-weight: 500;
    padding-bottom: 10px;
}
.loginright h4{font-weight: normal; line-height: normal;}
 .loginright p{line-height:18px; font-size: 13px;}     
 .slimScrollBar {
background: none repeat scroll 0 0 #6b58cd !important;
border-radius: 0;
display: none;
height: 390px;
position: absolute;
width: 10px!important;
z-index: 99;

}
.more{display: block;}     
a.more {text-decoration: none;color: #35aa47;font-size: 12px;}
a.more:hover{color: #0084B4;text-decoration: none;}

.logdivider{background:rgba(255, 255, 255, 0.11); clear: both; width: 100%; height: 1px;margin: 15px 0 15px;}

.loginbg .text-danger{color: #a94442; font-size: 13px;}
.loginbg span p{margin-bottom: 0;margin-top: 10px;}
.lineh30{line-height: 30px;}
.logowidth{}
.logowidth img{width:auto; height: 96px;}  
.loginbg .alert-danger{margin-bottom: 15px;padding: 6px 20px; font-size: 13px;}
@media(max-width:767px){
    .separatline {margin-left: 0;width: 100%;height: 2px;margin: 35px auto 0px auto;}
    /*.bgoffsetbg{width:100%;}*/
}